*{
    font-family: Arial;

}
body{
    background-color: blanchedalmond;
}
header{
    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}
footer{
    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}
#lewy{
    background-color: navajowhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px dimgray;

}
nav{
    width: 50%;
    height: 50px;
}
#dol{
    width:50% ;
    height: 420px;
    overflow: auto;
}
form{
    margin-top: 20px;
}
button{
    margin-top: 20px;
}
li{
   display: inline-block;
}
#obrazy img{
    width: 10%;
    float: left;
}
a{
    color: Sienna;
    margin-right: 30px;
}
a:hover{
    color: #4c1900;
}
main{
    display: flex;

}
section::after{
    content: "";
    display: block;
    clear: both;
}
